/*** To avoid messy inline styles, use this file to style stuff. ***/

.kae-hide-400{
  min-width: 400px !important;
  width: 400px !important;
}

.kae-hide-500{
  min-width: 500px !important;
  width: 500px !important;
}

.kae-hide-600{
  min-width: 600px !important;
  width: 600px !important;
}

.kae-hide{
  display: none !important;
}
/* Report button under programs */
#kae-report-button {
    text-decoration: none !important;
    background: white;
    border: 1px solid #ac3939;
    color: #ac3939;
    border-radius: 4px !important;
    display: inline-block !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    padding: 8px 8px !important;
    margin: 0px 3px 0px 0px !important;
    text-align: center !important;
    cursor: pointer;
}

/* The new program button */
.link_1uvuyao-o_O-computing_77ub1h {
    margin: 0px 0px 0px 3px !important;
}

/* Reporting popup after clicking button. */
#kae-report-popup {
    background-color: #FFFFFF !important;
    background-clip: padding-box !important;
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
    border-radius: 6px !important;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3) !important;
    color: #444444 !important;
    outline: none !important;
    position: fixed !important;
    left: 23% !important;
    right: 23% !important;
    min-width: 700px !important;
    /*width: 700px !important;*/
    top: 10% !important;
    z-index: 1080 !important;
    padding: 15px !important;
}
/* Exit button */
#kae-exit-button {
    color: #000000 !important;
    cursor: pointer !important;
    float: right !important;
    font-size: 20px !important;
    font-weight: bold !important;
    line-height: 20px !important;
    opacity: 0.2 !important;
    text-shadow: 0 1px 0 #FFFFFF !important;
    text-decoration: none !important;
}
/* Grey backdrop behind popup */
#kae-backdrop {
    display: none;
    background-color: #21242C !important;
    bottom: 0px !important;
    left: 0px !important;
    opacity: 0.72 !important;
    position: fixed !important;
    right: 0px !important;
    top: 0px !important;
    z-index: 1070 !important;
}
#kae-report-wrap {
    border-bottom: 1px solid #DDDDDD !important;
    padding: 0 0 9px 0 !important;
}
#kae-report-h2 {
    color: #555555 !important;
    margin-bottom: 0px !important;
    padding-top: 9px !important;
}
#kae-report-reason {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    width:100%;
    height:50px;
}
#kae-submit-button {
    color: white;
    background-color: rgb(186, 190, 194);
    box-shadow: transparent 0px 0px 4px 4px;
    font-size: 15px !important;
    padding: 0px 16px;
    margin: 10px 0px 0px;
    float: right;
    display: inline-flex;
    border-style: solid;
    box-sizing: border-box;
    white-space: nowrap;
    line-height: normal;
    font-weight: bold;
    -webkit-tap-highlight-color: transparent;
    height: 40px;
    border-width: 1px;
    border-radius: 4px;
    -webkit-align-items: center;
    -webkit-flex-shrink: 0;
    -ms-flex-align: center;

    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}
#kae-thank-you {
    display: none;
}

/** Notification delete button **/
.kae-notif-delete {
    cursor: pointer;
    display: block;
    margin: 0;
    padding-left: 5px;
    padding-top: 5px;
}

.kae-notif-delete svg {
    padding: 5px;
    border-radius: 5px;
}

.kae-notif-delete svg:hover {
    background: #dddddd;
}

#widget-projectanswers-list {
    padding: 0 0 5px 0 !important;
    display: block !important;
}
